<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/clientes.css">

    <title>ServiEntrega</title>

    <style>
        .formulario {
            display: none;
        }
    </style>
</head>

<body>

    <div class="container">
        <!--HEADER-->
        <header class="row text-center justify-content-around p-3">
            <div class="d-flex justify-content-center">
                <img src="https://www.servientrega.com/wps/wcm/connect/6a8668e1-673c-4908-adfa-83b1180ae41a/logo-horizontal-color.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-6a8668e1-673c-4908-adfa-83b1180ae41a-nM1e-G4"
                    class="img-fluid" style="max-width: 25%;" />
            </div>
        </header>
        <section id="navbar" class="row p-2 text-center">
            <div class="col-3 navbar-link d-flex align-items-center justify-content-center">
                <a href="/" class="font-weight-light link-unstyled">Home</a>
            </div>
            <div class="col-3 navbar-link d-flex align-items-center justify-content-center">
                <a href="/clientes" class="font-weight-light link-unstyled">Clentes</a>
            </div>
            <div class="col-3 navbar-link d-flex align-items-center justify-content-center">
                <a href="/repartidores" class="font-weight-light link-unstyled">Repartidores</a>
            </div>
            <div class="col-3 navbar-link d-flex align-items-center justify-content-center">
                <a href="#" class="font-weight-light link-unstyled">Pedidos</a>
            </div>
        </section>

        <!--BODY-->
        <div class="row">
            <div class="row mt-3">
                <div class="col-12">
                    <div class="d-grid gap-2">
                        <button onclick="AgregarCliente()" type="button" class="btn btn-info">Ingresar Cliente</button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <form class="AgregarCliente" action="/RegistroCliente" method="post" style="display: none;">
                    <div class="form-group mb-3">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="apellido">Apellido:</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="direccion">Dirección:</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="telefono">Número de teléfono:</label>
                        <input type="number" class="form-control" id="telefono" name="telefono" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="correo">Correo electrónico:</label>
                        <input type="email" class="form-control" id="correo" name="correo" required>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        <br>


        <div class="row">
            <div class="row justify-content-center">
                <div class="col-10">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Cedula</th>
                                <th>Dirección</th>
                                <th>Número de teléfono</th>
                                <th>Correo electrónico</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for documento in clientes_datos %}
                            <tr>
                                <td>{{ documento._id }}</td>
                                <td>{{ documento.Nombre }}</td>
                                <td>{{ documento.Apellido }}</td>
                                <td>{{ documento.Cedula }}</td>
                                <td>{{ documento.Direccion }}</td>
                                <td>{{ documento.NumeroTelefono }}</td>
                                <td>{{ documento.CorreoElectronico }}</td>
                                <td>
                                    <form action="/EliminarCliente" method="post">
                                        <input type="hidden" name="_id" value="{{documento._id}}">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <div class="col-4">
                    <form class="UpdateCliente" action="/UpdateCliente" method="post">
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="d-grid gap-2">
                                    <label>Ingrese ID del cliente:</label>
                                    <input type="text" class="form-control" id="_idCliente" name="_idCliente" required>
                                    <button onclick="UpdateCliente()" type="submit" class="btn btn-info">Buscar</button>
                                </div>
                            </div>
                        </div>

                        {% for cliente in DatoCliente %}
                        <div class="form-group mb-3">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                value="{{ cliente.Nombre }}">
                        </div>

                        <div class="form-group mb-3">
                            <label for="nombre">Apellido:</label>
                            <input type="text" class="form-control" id="apellido" name="apellido"
                                value="{{ cliente.Apellido }}" disabled>
                        </div>

                        <div class="form-group mb-3">
                            <label for="nombre">Cedula:</label>
                            <input type="text" class="form-control" id="cedula" name="cedula"
                                value="{{ cliente.Cedula }}" disabled>
                        </div>

                        <div class="form-group mb-3">
                            <label for="nombre">Direccion:</label>
                            <input type="text" class="form-control" id="direccion" name="direccion"
                                value="{{ cliente.Direccion }}">
                        </div>

                        <div class="form-group mb-3">
                            <label for="nombre">Numero Teleforno:</label>
                            <input type="text" class="form-control" id="telefono" name="telefono"
                                value="{{ cliente.NumeroTelefono }}">
                        </div>

                        <div class="form-group mb-3">
                            <label for="nombre">Correo Electronico:</label>
                            <input type="text" class="form-control" id="correo" name="correo"
                                value="{{ cliente.CorreoElectronico }}">
                        </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

<script src="/static/js/clientes.js" charset="utf-8 "></script>

</html>