<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/navbar.css">

    <title>ServiEntregas</title>
</head>

<body>

    <div class="container">
        <header class="row text-center justify-content-around p-3">
            <div class="d-flex justify-content-center">
                <img src="https://www.servientrega.com/wps/wcm/connect/6a8668e1-673c-4908-adfa-83b1180ae41a/logo-horizontal-color.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-6a8668e1-673c-4908-adfa-83b1180ae41a-nM1e-G4"
                    class="img-fluid" style="max-width: 25%;" />
            </div>
        </header>
        <section id="navbar" class="row p-2 text-center">
            <div class="col-3 navbar-link d-flex align-items-center justify-content-center">
                <a href="#" class="font-weight-light link-unstyled">Home</a>
            </div>
            <div class="col-3 navbar-link d-flex align-items-center justify-content-center">
                <a href="/clientes" class="font-weight-light link-unstyled">Clentes</a>
            </div>
            <div class="col-3 navbar-link d-flex align-items-center justify-content-center">
                <a href="/repartidores" class="font-weight-light link-unstyled">Repartidores</a>
            </div>
            <div class="col-3 navbar-link d-flex align-items-center justify-content-center">
                <a href="#" class="font-weight-light link-unstyled">Pedidos</a>
            </div>
        </section>

    </div>


</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

</html>