<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/clientes.css">
    <link rel="stylesheet" href="static/css/pagos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="icon" href="../static/img/favicon.png" type="image/png" sizes="32x32">
    <script src="{{ url_for('static', filename='js/secciones.js') }}"></script>

    <title>ServiEntrega | Pagos</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <style>
        .formulario {
            display: none;
        }

        body {
            margin: 0;
            padding: 0;
        }

        #map {
            height: 400px;
        }
    </style>


</head>

<body>
    <br><br>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Datos Cliente</th>
                        <th>Monto</th>
                        <th>MetodoPago</th>
                        <th>Pagado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in pagitos %}
                    <tr>
                        <td>{{ p._id }}</td>
                        <td> ({{ p.IDPedido.id}}){% if loop.index - 1 < nombrecitos|length %} {{ nombrecitos[loop.index
                                - 1] }}{% endif %} </td>
                        <td>{{ p.Monto }}</td>
                        <td>{{ p.MetodoPago }}</td>
                        <td>{{ p.Pagado }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="row">
            <div class="col-12 col-md-6">
                <form class="UpdatePago" action="/pagos" method="post">
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="d-grid gap-2" style="margin-bottom: 2%;">
                                <label>Actualizar Pago</label>
                                <input type="text" class="form-control" id="_pago" name="_pago" placeholder="Id Pago">
                                <button onclick="UpdatePago()" type="submit" class="btn btn-success">Buscar</button>
                            </div>
                        </div>
                    </div>
                </form>

                <form action="/UpdatePago" method="post">
                    {% for pagoC in pagoCliente %}
                    <div class="form-group mb-3">

                        <div class="form-group mb-3">
                            <input type="text" class="form-control" id="_pagadito" name="_pagadito"
                                value="{{pagoC._id}}" readonly style="display: none;">
                        </div>

                        <div class="form-group mb-3">
                            <label for="nombre" style="margin-bottom: 1%;">Metodo de Pago</label>
                            <input type="text" class="form-control" id="Metodo" name="Metodo"
                                value="{{ pagoC.MetodoPago }}">
                        </div>

                        <label for="estado">Pagado</label>
                        <select class="form-control" id="pagado" name="pagado">
                            {% if pagoC.Pagado == False %}
                            <option value="False" selected>False</option>
                            <option value="True">True</option>
                            {% elif pagoC.Pagado == True %}
                            <option value="True" selected>True</option>
                            {% endif %}
                        </select>

                    </div>
                    <button type="submit" class="btn btn-success" style="margin-bottom: 2%;">Actualizar</button>
                    {%endfor%}
                </form>
            </div>
        </div>


        <br><br><br>

        <div>
            <h3>Geolocalizacion</h3>
            <br><br>
            <div class="container" style="background-color: white; border-radius: 10px;" id="hiddenFormContainer">
                <div class="container contact-form">
                    <p> Seleccione el pedido que desea ver en el mapa</p>
                    <form class="" action="/pagos" method="post">
                        <select name="pedido">
                            <option value=""></option>
                            {% for i in pedidos_Loca %}
                            <option value="{{ i._id }}">{{ i._id }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-success">Buscar</button>
                    </form>
                    <br><br>
                    <form id="work">
                        {% for i in pedidoEncontrado %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Datos_Cliente" class="form-control"
                                        placeholder="Datos Cliente" value="{{ i.IDCliente }}" readonly />
                                </div>

                                <div class="form-group">
                                    <input type="text" name="Destino" class="form-control" placeholder="Destino"
                                        value="{{ i.DireccionDestino }}" readonly />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Fecha_Hora" class="form-control"
                                        placeholder="Fecha y Hora del Pedido" value="{{ i.FechaHoraPedido }}"
                                        readonly />
                                </div>
                                <div class=" form-group">
                                    <input type="text" name="Descripcion" class="form-control"
                                        placeholder="Descripcion " value="{{ i.DescripcionPaquete }}" readonly />
                                </div>
                            </div>
                            {% endfor %}
                    </form>
                </div>
            </div>

            <br><br>

            <div id="map"></div>

            <script src="https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.js"></script>
            <link href="https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.css" rel="stylesheet">

            <script>
                mapboxgl.accessToken = 'pk.eyJ1IjoicGVkcmluZWxtZXJvNzciLCJhIjoiY2xrOG81ZHlwMGJvdjNkbzU2aXlpbmx0MiJ9.zDfZspDRGG16SJKUd6c1Qw';

                var latitude = {{ latitude }};
                var longitude = {{ longitude }};

                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: [longitude, latitude],
                    zoom: 13
                });

                var marker = new mapboxgl.Marker()
                    .setLngLat([longitude, latitude])
                    .addTo(map);
            </script>
            </br>

            <br><br><br><br>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuHqHEvRkVKFS2rqabWZMEFDsgbSjz91g&libraries=places"></script>




</html>