<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/repartidores.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="icon" href="../static/img/favicon.png" type="image/png" sizes="32x32">
    <script src="{{ url_for('static', filename='js/secciones.js') }}"></script>

    <title>ServiEntrega | Repartidores</title>

</head>

<body>
    <div class="container">
        <!--BODY-->
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="d-grid gap-2">
                            <button onclick="AgregarRepartidor()" type="button" class="btn btn-success">Ingresar
                                Repartidor</button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <form class="AgregarRepartidor" action="/RegistroRepartidor" method="post" style="display: none;">
                        <div class="form-group mb-3" style="margin-top: 3%;">
                            <label for="nombre" style="margin-bottom: 1%;">Nombre:</label>
                            <input type="text" class="form-control input-sm" id="nombre" name="nombre" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="apellido" style="margin-bottom: 1%;">Apellido:</label>
                            <input type="text" class="form-control input-sm" id="apellido" name="apellido" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="cedula" style="margin-bottom: 1%;">Cedula:</label>
                            <input type="text" class="form-control input-sm" id="cedula" name="cedula" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="telefono" style="margin-bottom: 1%;">Número de teléfono:</label>
                            <input type="number" class="form-control input-sm" id="telefono" name="telefono" required>
                        </div>

                        <div class="form-group">
                            <label for="vehiculo" style="margin-bottom: 1%;">Tipo de vehículo</label>
                            <select class="form-control" id="vehiculo" name="vehiculo" onchange="mostrarOpciones()" style="margin-bottom: 2%;">
                                <option value="" disabled selected hidden>Seleccionar...</option>
                                <option value="Automóvil">Automóvil</option>
                                <option value="Moto">Moto</option>
                            </select>
                        </div>
                        <div id="opciones" style="display: none;">
                            <div class="form-group">
                                <label for="marca">Placa</label>
                                <input type="text" class="form-control" id="placa" name="placa">
                            </div>
                            <div class="form-group">
                                <label for="modelo">Modelo</label>
                                <input type="text" class="form-control" id="modelo" name="modelo">
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success" style="margin-bottom: 4%;">Guardar</button>
                    </form>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <form class="UpdateRepartidores" action="/repartidores" method="post">
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="d-grid gap-2" style="margin-bottom: 1%;">
                                <label>Ingrese ID del repartidor:</label>
                                <input type="text" class="form-control" id="_idRepartidor" name="_idRepartidor">
                                <button onclick="UpdateRepartidores()" type="submit"
                                    class="btn btn-success">Buscar</button>
                            </div>
                        </div>
                    </div>
                </form>

                <form action="/UpdateRepartidores" method="post">
                    {% for repartidor in DatoRepartidor %}
                    <div class="form-group mb-3" style="margin-top: 2%;">
                        <label for="nombre" style="margin-bottom: 1%;">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre"
                            value="{{ repartidor.Nombre }}">
                    </div>

                    <div class="form-group mb-3">
                        <label for="nombre" style="margin-bottom: 1%;">Apellido:</label>
                        <input type="text" class="form-control" id="apellido" name="apellido"
                            value="{{ repartidor.Apellido }}" readonly>
                    </div>

                    <div class="form-group mb-3">
                        <label for="nombre" style="margin-bottom: 1%;">Cedula:</label>
                        <input type="text" class="form-control" id="cedula" name="cedula"
                            value="{{ repartidor.Cedula }}" readonly>
                    </div>

                    <div class="form-group mb-3">
                        <label for="nombre" style="margin-bottom: 1%;">Telefono:</label>
                        <input type="text" class="form-control" id="telefono" name="telefono"
                            value="{{ repartidor.NumeroTelefono }}">
                    </div>

                    <div class="form-group mb-3">
                        <label for="tipo" style="margin-bottom: 1%;">Tipo:</label>
                        <select class="form-control" id="vehiculo" name="vehiculo" onchange="toggleReadOnly(this)">
                            {% if repartidor.Vehiculo.Tipo == "Automóvil" %}
                            <option value="Automóvil" selected>Automóvil</option>
                            <option value="Moto">Moto</option>
                            {% elif repartidor.Vehiculo.Tipo == "Moto" %}
                            <option value="Moto" selected>Moto</option>
                            <option value="Automóvil">Automóvil</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="form-group mb-3 row">
                        <label for="placa" class="col-sm-3 col-form-label" style="margin-bottom: 1%;">Placa:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="placa" name="placa"
                                value="{{ repartidor.Vehiculo.Placa }}">
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label for="modelo" class="col-sm-3 col-form-label" style="margin-bottom: 1%;">Modelo:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="modelo" name="modelo"
                                value="{{ repartidor.Vehiculo.Modelo }}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" style="margin-bottom: 4%;">Actualizar</button>
                    {%endfor%}
                </form>
            </div>
        </div>

        <!--Tabla-->
        <div class="row">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cedula</th>
                        <th>Número de teléfono</th>
                        <th>Vehiculo</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for documento in repartidores_datos %}
                    <tr>
                        <td>{{ documento._id }}</td>
                        <td>{{ documento.Nombre }}</td>
                        <td>{{ documento.Apellido }}</td>
                        <td>{{ documento.Cedula }}</td>
                        <td>{{ documento.NumeroTelefono }}</td>
                        <td>
                            <span class="vehiculo" data-placa="{{ documento.Vehiculo.Placa }}"
                                data-modelo="{{ documento.Vehiculo.Modelo }}">
                                {{ documento.Vehiculo.Tipo }}
                            </span>
                        </td>
                        <td>
                            <form action="/EliminarRepartidor" method="post">
                                <input type="hidden" name="_id" value="{{documento._id}}">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>


<script src="/static/js/repartidores.js" charset="utf-8 "></script>

</html>