<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/repartidores.css">
    <title>ServiEntregas</title>


</head>

<body>
    <div class="container">
        <!--HEADER-->
        <header class="row text-center justify-content-around p-3">
            <div class="d-flex justify-content-center">
                <img src="https://www.servientrega.com/wps/wcm/connect/6a8668e1-673c-4908-adfa-83b1180ae41a/logo-horizontal-color.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-6a8668e1-673c-4908-adfa-83b1180ae41a-nM1e-G4"
                    class="img-fluid" style="max-width: 25%;" />
            </div>
        </header>
        <section id="navbar" class="row p-2 text-center">
            <div class="col-3 navbar-link d-flex align-items-center justify-content-center">
                <a href="/" class="font-weight-light link-unstyled">Home</a>
            </div>
            <div class="col-3 navbar-link d-flex align-items-center justify-content-center">
                <a href="/clientes" class="font-weight-light link-unstyled">Cientes</a>
            </div>
            <div class="col-3 navbar-link d-flex align-items-center justify-content-center">
                <a href="/repartidores" class="font-weight-light link-unstyled">Repartidores</a>
            </div>
            <div class="col-3 navbar-link d-flex align-items-center justify-content-center">
                <a href="#" class="font-weight-light link-unstyled">Pedidos</a>
            </div>
        </section>

        <div class="row">
            <div class="col-8">
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Número de teléfono</th>
                            <th>Vehiculo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for documento in repartidores_datos %}
                        <tr>
                            <td>{{ documento._id }}</td>
                            <td>{{ documento.Nombre }}</td>
                            <td>{{ documento.Apellido }}</td>
                            <td>{{ documento.NumeroTelefono }}</td>
                            <td>
                                <span class="vehiculo" data-placa="{{ documento.Vehiculo.Placa }}"
                                    data-modelo="{{ documento.Vehiculo.Modelo }}">
                                    {{ documento.Vehiculo.Tipo }}
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!--BODY-->
            <div class="col-4">
                <button onclick="toggleFormulario()" type="button" class="btn btn-info">Ingresar Repartidor</button>
                <form class="formulario" action="/RegistroRepartidor" method="post">
                    <div class="form-group mb-3">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control input-sm" id="nombre" name="nombre" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="apellido">Apellido:</label>
                        <input type="text" class="form-control input-sm" id="apellido" name="apellido" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="telefono">Número de teléfono:</label>
                        <input type="number" class="form-control input-sm" id="telefono" name="telefono" required>
                    </div>

                    <div class="form-group">
                        <label for="vehiculo">Tipo de vehículo</label>
                        <select class="form-control" id="vehiculo" name="vehiculo" onchange="mostrarOpciones()">
                            <option value="" disabled selected hidden>Seleccionar...</option>
                            <option value="Automovil">Automóvil</option>
                            <option value="Moto">Moto</option>
                        </select>
                    </div>
                    <div id="opciones" style="display: none;">
                        <div class="form-group">
                            <label for="marca">Placa</label>
                            <input type="text" class="form-control" id="placa" name="placa">
                        </div>
                        <div class="form-group">
                            <label for="modelo">Modelo</label>
                            <input type="text" class="form-control" id="modelo" name="modelo">
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>


<script src="/static/js/repartidores.js" charset="utf-8 "></script>

</html>